  <html ng-app='bakpak'>
    <head>
      <title> BakPak </title>
      <link type="text/css" rel="stylesheet" href="/public/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/public/css/page.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="/public/components/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/public/components/bower_components/materialize/dist/js/materialize.min.js"></script>
      <script src="/public/components/bower_components/angular/angular.min.js"></script>
      <script src="/public/components/bower_components/angular-route/angular-route.min.js"></script>
    </head>

    <body ng-controller="exploreController">
      <nav>
        <div id=navbar class="nav-wrapper">
          <a href='/'> <img src="http://i.imgur.com/QfK30Pv.png" id=logo href="#" className="brand-logo" /> </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li ><a href="/#/explore">EXPLORE</a></li>
              <li ><a href="/#/reserve">RESERVE</a></li>
            </ul>
        </div>
      </nav>
      <div class="container" id="inputarea">
        <LABEL id="label">Where are we going?</LABEL>
          <div class="center-align">
            <input id="input" type="text" ng-model='city' placeholder="Example: San Francisco, CA" />
              <a href="/#/explore" class="waves-effect waves-light btn" ng-click='weatherApi(); restaurantsApi(); artsApi(); promosApi(); eventsApi(); imagesApi()'> EXPLORE </a>
              <a href="/#/reserve" class="waves-effect waves-light btn" ng-click="hotelsApi(); imagesApi()">RESERVE </a>
          </div>
      </div>
      </br>
      <div ng-view></div>
      <script src="/public/app.js"></script>

      <script src="signin.js"></script>
      <script src="services.js"></script>
      <script src="/public/bakpakexplore.js"></script>
    </body>
  </html>
