  <html ng-app='bakpak'>
    <head>
      <title> BakPak </title>
      <link type="text/css" rel="stylesheet" href="/public/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/public/css/page.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/public/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    </head>

    <body ng-controller="exploreController">
      <nav>
        <div id=navbar class="nav-wrapper">
          <a href='/'> <img src="http://i.imgur.com/QfK30Pv.png" id=logo href="#" className="brand-logo" /> </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li ><a href="/#/explore">EXPLORE</a></li>
              <li ><a href="/#/reserve">RESERVE</a></li>
              <li>
                <form>  
                  <input placeholder="Where are we going?" id=search type="search" required />
                </form>
              </li>
            </ul>
        </div>
      </nav>
      <div class="container">
        <LABEL>WHERE?</LABEL>
          <div class="center-align">
            <input type="text" ng-model='city' placeholder="Example: San Francisco, CA" />
              <a href="/#/explore" class="waves-effect waves-light btn" ng-click='weatherApi(); restaurantsApi(); artsApi(); promosApi(); eventsApi()'> EXPLORE </a>
              <a href="/#/reserve" class="waves-effect waves-light btn">RESERVE </a>
          </div>
      </div>
      <div ng-view></div>
      <script src="/public/app.js"></script>
      <script src="/public/bakpakexplore.js"></script>
<!--         <script type='text/javascript' src='/public/explore.js'></script>
        <script type='text/javascript' src='/public/reserve.js'></script> -->
    </body>
  </html>
        