html {
  background-color: #b4dcc0;
}
#body {
  background-color: #b4dcc0;
}
#navbar {
  background-color: #0c6950;
  text-decoration: none;
  font-size: 130%;
}
#navbar li {
  position: relative;
  right: 20px;
}
#logo {
  height: 95%;
  width: 13%;
}
#filler {
  height: 60%;
  width: 60%;
}
#search {
  background-color: white;
  color: black;
  padding-left: 5px;
  margin-top: 7px;
}
#input {
  background-color: white;
  border-radius: 4px;
  padding-left: 8px;
  font-family: 'sansblack';
  color: #464a51;
}
#inputarea {
  margin-top: 10px;
}
#label {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#left {
  margin-right: 10px;
}
.label {
  font-family: 'sansblack';
}
.explore {
  background-color: rgba(238, 251, 244, 0.6);
  margin-right: 20px;
  padding-bottom: 5px;
}
@font-face {
    font-family: 'sansblack';
    src: url('NexaRustSans-Black-Free-webfont.eot');
    src: url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
         url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
         url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
