html {
  background-color: rgba(232,237,223,0.4);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100%;
}
body {
  background-size: cover;                      /* <------ */
  background-position: center center;
}
a {
  color: black;
}
select {
  margin-bottom: 8px;
}
#spacer {
  margin-bottom: 10px;
}
#body {
  background-color: #b4dcc0;
}
#navbar {
  background-color: #242423;
  text-decoration: none;
  font-size: 130%;
}
#navbar li {
  position: relative;
  right: 20px;
}
#logo {
  height: 95%;
  width: 12%;
}
#filler {
  height: 60%;
  width: 60%;
}
#search {
  background-color: white;
  color: black;
  padding-left: 5px;
  margin-top: 7px;
}
#input {
  background-color: white;
  border-radius: 4px;
  padding-left: 8px;
  color: #464a51;
}
#inputarea {
  margin-top: 10px;
}
#label {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#label2 {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#left {
  margin-right: 10px;
}
.label {
  font-family: 'sansblack';
}
.explore {
  background-color: rgba(245,203,92,0.4);;
  margin-right: 20px;
  padding-bottom: 5px;
  position: relative;
}
.explore2 {
  background-color: rgba(245,203,92,0.4);
}

#showTripBtn {
  padding-bottom: 15px
}

.google:hover{
  color: blue;
}
.icon {
  position: absolute;
  right: 5;
  height: 50px;
  width: 50px;
}
@font-face {
    font-family: 'sansblack';
    src: url('NexaRustSans-Black-Free-webfont.eot');
    src: url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
         url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
         url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
#userprofile {
  margin-bottom: 80px;
}

#destinationbtn{
  margin-bottom: 100px;
}
.addbtn {
  display: block;
  float:right;
}

.btn {
  background-color: #333533
}

.btn:hover{
  background-color: #333533;
}
