<div class="container">
<div class="row">
  <div class="col s4"><h4> {{weather.weather[0].description}}</h4><h5> {{weather.main.temp}} </h5></div>
</div>
<div class="row">
  <div class="col s6">
  <h4> Restaurants </h4>
  <div ng-repeat="result in results | limitTo: 10"> <b> {{result.name}} : </b>{{result.formatted_address}} <br> Rating :
  {{result.rating}}</div>
  </div>
  <div class="col s6"> 
  <h4> Places to Visit </h4>
  <div ng-repeat="art in arts | limitTo: 10"> <b> {{art.name}} : </b>{{art.formatted_address}} </div>
  </div>
</div>
</div>

<div class="container">
<div class ="row">
  <div class="col s6"> 
  <h4> Deals </h4>
  <div ng-repeat="deal in promos"> <b> {{deal.deal.title}} : </b>{{deal.deal.short_title}} </div>
  </div>
  <div class="col s6">
  <h4> Events </h4>
  <div ng-repeat="event in events"> <b> {{event.title[0]}} </b></div>
  </div>
</div>
</div>


