<div ng-controller="exploreController" class="container">
<input id="input" type="text" ng-model='origin' placeholder="Example: SFO" />
<input id="input" type="text" ng-model='destination' placeholder="Example: LAX" />
<input id="input" type="text" ng-model='date' placeholder="Example: 2016-10-22" />
<!-- date format has to be YYYY-MM-DD -->
<a href="/#/reserve" class="waves-effect waves-light btn" ng-click='flightsApi(); '>RESERVE </a>
<div class="row">
</br>
<div id="left" class="col s5 offset-s1 explore">
	<h4 class="label"> Flights </h4>
<div ng-repeat="flight in flights"> 
	Origin: {{flight.slice[0].segment[0].leg[0].origin}}
	</br>
	Destination: {{flight.slice[0].segment[0].leg[0].destination}}
	</br>
	Duration: {{flight.slice[0].segment[0].leg[0].duration}} Mins
	</br>
	Departure Time: {{flight.slice[0].segment[0].leg[0].departureTime}}
	</br>
	ArrivalTime: {{flight.slice[0].segment[0].leg[0].arrivalTime}}
	</br>
	Carrier: {{flight.slice[0].segment[0].flight.carrier}}
	</br>
	Seat: {{flight.slice[0].segment[0].cabin}}
	</br>
	Price: {{flight.saleTotal}}
	</br>
	</br>
</div>
</div>
<div class="col s5 explore">
  <h4 class="label"> Hotels </h4>
  <div ng-repeat="hotel in hotels | limitTo: 10"> <b> {{hotel.name}} : </b> <br> {{hotel.formatted_address}} <br> Rating :
  {{hotel.rating}}
</div>
</div>
</div>
</div>