
<div class='container' id='inputarea'>
  <h4 class='label'>Sign In</h4>
    <LABEL class='who'>Who are you?</LABEL> 
    <div class='center-align'>
      <input id="input" class='username' type='text' ng-model='username' placeholder="Username"/>
      <input id="input"  class='password' type='password' ng-model='password' placeholder="Password"/>
    </div>

    <div class='authbtns'>
      <a href="/#/signin" class="waves-effect waves-light btn" ng-click="authUser(username, password)">SIGN IN </a>
      <div class='noacc'>
        <p>Don't have an account?</p>
      
        <a href="/#/signup" class=" waves-effect waves-light btn">Sign Up</a>
      </div>
    </div>

</div>



